.empty{
    flex: 1;
    height: 244px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-top: 24px;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.empty p{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6rem;
    color: var(--gray-300);
}