.button{
    width: 90px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--blue-dark);

    border-radius: 8px;
    border: none;

    color: var(--gray-100);
    font-size: 1.4rem;
    font-weight: bold;

    cursor: pointer;

    transition: .2s;
}

.button:hover{
    background-color: var(--blue);
}