.main{
    max-width: 736px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.taskInput{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -2.2rem;
    gap: 8px;
}

.listContainer{
    width: 100%;
}